:root{
  --main-color: #36A2EB;
  --secondary-color: #384454;
}

#root {
  margin: 0;
  text-align: center;
  min-height: 100vh !important;
  width: 100%;
}

.body{
  width: 100%;
  margin: 0;
}

.App{
  min-height: 100vh !important;
}