.list {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60rem;
  justify-content: center;
  margin: auto;
  padding-left: 8rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
  row-gap: 4rem;
}

.listUserView {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60rem;
  justify-content: center;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

h1 {
  position: fixed;
  top: 0;
  margin: 0;
  padding-left: 8rem;
  transform: translateX(-50%);
  background-color: #fff;
  width: 100%;
  z-index: 1;
  padding: 1rem;
  color: #384454;
}

.logoUserAnswers {
  width: 10rem;
  text-align: center;
  padding: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  position: fixed;
  left: 0;
  z-index: 5;
}

.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
  background-color: #384454 !important;
  font-weight: bold;
}

.css-og52vs-MuiTableCell-root.MuiTableCell-head {
  background-color: #384454 !important;
  font-weight: bold;
}

.css-1enotpu-MuiTableRow-root:nth-of-type(2n + 1) {
  background-color: rgba(56, 68, 84, 0.1) !important;
}

@media screen and (max-width: 1100px) {
  .list {
    padding-left: 0;
    padding-top: 10rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  .list {
    width: 40rem;
  }

  .listUserView {
    width: 40rem;
  }

  .css-ssbgqv-MuiTable-root {
    min-width: 600px !important;
  }

  h1 {
    font-size: 2.2rem !important;
  }

  .logoUserAnswers {
    width: 8rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
  .list {
    width: 40rem;
  }

  .listUserView {
    width: 40rem;
  }

  .css-ssbgqv-MuiTable-root {
    min-width: 600px !important;
  }

  h1 {
    font-size: 2.2rem !important;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  .list {
    width: 35rem;
  }

  .listUserView {
    width: 35rem;
  }

  .css-ssbgqv-MuiTable-root {
    min-width: 500px !important;
  }

  h1 {
    font-size: 1.8rem !important;
  }

  .logoUserAnswers {
    width: 6rem;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
  .list {
    width: 27rem;
  }

  .listUserView {
    width: 27rem;
  }

  .css-ssbgqv-MuiTable-root {
    min-width: 400px !important;
  }

  h1 {
    font-size: 1.6rem !important;
  }

  .logoUserAnswers {
    width: 5rem;
  }
}

@media screen and (max-width: 500px) and (min-width: 400px) {
  .list {
    width: 22rem;
  }

  .listUserView {
    width: 22rem;
  }

  .css-ssbgqv-MuiTable-root {
    min-width: 300px !important;
  }

  h1 {
    font-size: 1.4rem !important;
  }

  .logoUserAnswers {
    width: 5rem;
  }
}

@media screen and (max-width: 400px) {
  .list {
    width: 20rem;
  }

  .listUserView {
    width: 20rem;
  }

  .css-ssbgqv-MuiTable-root {
    min-width: 90px !important;
  }

  h1 {
    font-size: 1.4rem !important;
  }

  .logoUserAnswers {
    width: 4rem;
  }
}
